$charleston-green: #2c302eff;
$davys-grey: #474a48ff;
$spanish-gray: #909590ff;
$granny-smith-apple: #9ae19dff;
$amazon: #537a5aff;

$primary: $granny-smith-apple;
$secondary: $amazon;
$grey: $davys-grey;
$grey-darker: $charleston-green;
$grey-light: $spanish-gray;
$accent: #02968A;

$white: #ffffff;
$black: #000000;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1200px;
